* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
}

h1 {
  font-size: 48px;
  margin: 20px 0;
  letter-spacing: 4px;
}

.counter {
  font-size: 64px;
  margin: 12px 0;
}

.increase,
.decrease,
.reset {
  padding: 12px 16px;
  border-radius: 6px;
  background-color: white;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
main div {
  margin-top: 20px;
}

div button + button {
  margin-left: 20px;
}

/* media query */

@media (max-width: 450px) {
  h1 {
    font-size: 36px;
    margin-bottom: 0;
  }

  .increase,
  .decrease,
  .reset {
    padding: 8px 12px;
    letter-spacing: 1.5px;
    border-radius: 4px;
  }

  div button + button {
    margin-left: 4px;
  }
}
