* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 44px;
  max-width: 520px;
  padding: 24px 32px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  line-height: 1.5;
}

.game-instuction {
  text-align: center;
}

.game-input {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
}

.game-input label {
  font-weight: 600;
}

#random-num {
  padding: 12px 16px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid grey;
  transition: all 0.1s ease-in-out;
  outline: none;
  margin-bottom: 0;
}

#random-num:hover {
  outline: 1px solid rgb(30, 60, 228);
  box-shadow: 0px 0px 0px 3px rgba(46, 105, 216, 0.2);
}

#random-num::placeholder,
#random-num {
  font-size: 16px;
}

.game-input-instruction {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
}

.game-buttons button {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.game-buttons button + button {
  margin-left: 10px;
}

.submit-btn {
  cursor: pointer;
  background-color: #0d6efd;
  border: none;
  color: white;
}

.submit-btn.end {
  cursor: not-allowed;
}

.newgame-btn {
  cursor: not-allowed;
  background-color: white;
  border: 1px solid grey;
}

.newgame-btn.start {
  cursor: pointer;
}

.newgame-btn:hover {
  background-color: grey;
  color: white;
}

.submit-btn:hover {
  background-color: #0058dd;
}

.result-text {
  margin-top: 20px;
  width: 100%;
  background-color: #f8fafc;
  height: 100px;
  border-radius: 4px;
  padding: 12px;
}

.main-result {
  font-weight: 600;
  margin-top: 0;
}
